# Pipeline
requests>=2.31.0
pandas>=2.1.0
numpy>=1.26.0
pyarrow>=14.0.0

# API Backend
fastapi>=0.109.0
uvicorn[standard]>=0.27.0
python-multipart>=0.0.9

# Base relationnelle — SQLite (C1.1)
sqlalchemy>=2.0.0

# Base non relationnelle — TinyDB document store (C1.2)
tinydb>=4.8.0

# Rate limiting
slowapi>=0.1.9
